[submodule "vim/vwilight"]
	path = vim/vwilight.vim
	url = https://github.com/bry4n/vwilight.vim.git
[submodule "vim/AutoClose"]
	path = vim/AutoClose
	url = https://github.com/vim-scripts/AutoClose.git
[submodule "vim/vim-slim"]
	path = vim/vim-slim
	url = https://github.com/bbommarito/vim-slim
[submodule "vim/distinguished"]
	path = vim/distinguished
	url = https://github.com/Lokaltog/vim-distinguished
