[user]
  name = Veselin Todorov
  email = veselin@veselin.bg
[github]
  user = vesln
[alias]
  current-branch = !git symbolic-ref -q HEAD | sed -e 's|^refs/heads/||'
  pretty-log = !bash -c 'source ~/.githelpers && git-log-pretty --all'
[apply]
  whitespace = warn
[color]
  diff = auto
  status = auto
  branch = auto
  ui = true
[help]
  autocorrect = 1
[status]
  submodule = 1
[merge]
  tool = vimdiff
  log = true
  prompt = false
[difftool]
  prompt = false
[push]
  default = tracking
[core]
  excludesfile = ~/.gitignore_global
[branch]
  autosetuprebase = always
