[user]
  name = Veselin Todorov
  email = veselin@veselin.bg
[github]
  user = vesln
[alias]
  co = checkout
  unstage = reset HEAD
  staged = diff --cached
  unstaged = diff
  current-branch = !git symbolic-ref -q HEAD | sed -e 's|^refs/heads/||'
  l = !bash -c 'source ~/.githelpers && git_log_pretty'
  la = !bash -c 'source ~/.githelpers && git_log_pretty --all'
[apply]
  whitespace = warn
[color]
  diff = auto
  status = auto
  branch = auto
  ui = true
[help]
  autocorrect = 1
[status]
  submodule = 1
[merge]
  tool = diffmerge
  log = true
  prompt = false
[difftool]
  prompt = false
[push]
  default = tracking
[merge]
  tool = vimdiff
[core]
  excludesfile = ~/.gitignore_global
[branch]
  autosetuprebase = always
