snippet media "import media.css"
@import "ph/styles/media.css";
endsnippet

snippet imedia "import media.css"
@import "ph/styles/media.css";
endsnippet

snippet ss "import media.css"
@media(--small-screen) {
	$0
}
endsnippet

snippet mls "medium or large screen"
@media(--medium-or-large-screen) {
	$0
}
endsnippet

snippet sms "small or medium screen"
@media(--small-or-medium-screen) {
	$0
}
endsnippet

snippet ls "large screen"
@media(--large-screen) {
	$0
}
endsnippet
