snippet note "NOTE(vesln)"
# NOTE(vesln): ${1}
endsnippet

snippet todo "TODO(vesln)"
# TODO(vesln): ${1}
endsnippet

snippet helper "spec_helper"
require 'spec_helper'


endsnippet

snippet des "describe"
describe ${1:class} do
	$0
end
endsnippet

snippet desc "describe"
describe ${1:class} do
	$0
end
endsnippet

snippet it "it"
it '${1:does stuff}' do
	$0
end
endsnippet
