snippet isb "import style/base"
@import 'styles/base';


endsnippet

snippet ibs "import style/base"
@import 'styles/base';


endsnippet

snippet todo "TODO(vesln)"
// TODO(vesln): ${1}
endsnippet

snippet note "NOTE(vesln)"
// NOTE(vesln): ${1}
endsnippet

snippet ttu "text-transform: uppercase"
text-transform: uppercase;
endsnippet
