snippet ilink "import Link"
import { Link } from '~/routes';
endsnippet

snippet icss "import styles"
import styles from './styles.sass';
endsnippet

snippet icls "import classNames"
import classNames from 'classnames';
endsnippet

snippet todo "TODO(vesln)"
// TODO(vesln): ${1}
endsnippet

snippet note "NOTE(vesln)"
// NOTE(vesln): ${1}
endsnippet

